/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.site-header {
  padding-top: 72px;
  padding-bottom: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #0d0d0d;
}

.site-header__logo {
  text-align: center;
}

.site-header__logo a {
  outline: none;
}

.site-header__logo img {
  width: 126px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.site-nav {
  padding: 0 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 172px;
  left: 0px;
  right: 0px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.site-nav__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.site-nav__form-select {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 12px;
  background: #262626;
}

.site-nav__form-control:nth-child(2) {
  max-width: 700px;
  width: 100%;
}

.site-nav__form-input {
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #262626;
  color: #d9d9d9;
}

.site-nav__form-input::-webkit-input-placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
}

.site-nav__form-input::-moz-placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
}

.site-nav__form-input:-ms-input-placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
}

.site-nav__form-input::-ms-input-placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
}

.site-nav__form-input::placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
}

.site-nav__form-btn,
.site-nav__form-edit-btn,
.site-nav__form-search-btn {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.7px;
  background: #1e6f9f;
  color: #f2f2f2;
  cursor: pointer;
  outline: none;
}

.site-nav__form-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../../images/plus-icon.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 8px;
  display: inline-block;
}

.site-nav__form-btn {
  max-width: 120px;
  width: 100%;
}

.site-nav__form-edit-btn {
  max-width: 120px;
  width: 100%;
  background: #43845c;
  display: none;
}

.site-nav__form-search-btn {
  max-width: 120px;
  width: 100%;
  display: none;
}

@media only screen and (max-width: 1075px) {
  .site-nav__form-control:nth-child(2) {
    max-width: 600px;
  }
}
@media only screen and (max-width: 975px) {
  .site-nav__form-control:nth-child(2) {
    max-width: 500px;
  }
}
@media only screen and (max-width: 875px) {
  .site-nav__form-control:nth-child(2) {
    max-width: 400px;
  }
}
@media only screen and (max-width: 775px) {
  .site-nav__form {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media only screen and (max-width: 715px) {
  .site-nav__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .site-nav__form-control:nth-child(1) {
    max-width: 100%;
    width: 100%;
  }
  .site-nav__form-control:nth-child(2) {
    max-width: 100%;
  }
  .site-nav__form-btn,
  .site-nav__form-edit-btn,
  .site-nav__form-search-btn {
    max-width: 270px;
    width: 100%;
    font-size: 17px;
  }
  .site-nav__form-btn::after {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .site-nav__form-btn,
  .site-nav__form-edit-btn,
  .site-nav__form-search-btn {
    max-width: 200px;
  }
}
@media only screen and (max-width: 340px) {
  .site-nav__form-btn,
  .site-nav__form-edit-btn,
  .site-nav__form-search-btn {
    max-width: 170px;
  }
}
.hero {
  padding-top: 204px;
  padding-bottom: 170px;
  background: #191919;
}

.hero__list {
  padding-top: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.hero__item:first-child .hero__item-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  color: #4ea8de;
}

.hero__item-clear {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
  width: 70px;
  padding: 7px;
  outline: none;
  border: none;
  border-radius: 12px;
  background: #262626;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.hero__item:last-child .hero__item-title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  color: #4ea8de;
  color: #8a2be2;
}

.hero__item-text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  color: #4ea8de;
  font-size: 12px;
  padding: 2.5px 8px;
  border-radius: 999px;
  background: #333333;
  color: #d9d9d9;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
  margin-top: 24px;
  padding: 64px 0;
}

.hero__content-icon {
  width: 56px;
}

.hero__content-text-one,
.hero__content-text-two {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
}

.hero__content-text-one {
  font-weight: 700;
}

.todo__list {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.todo__item {
  padding: 16px;
  border: 1px solid #333333;
  border-radius: 8px;
  background: #262626;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.todo__item-selection {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo__item-selection input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.todo__item-selection label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo__item-selection label:before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: 2px solid #00897b;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.todo__item-selection label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 14px;
  z-index: 2;
  width: 16px;
  height: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-left: 2px solid rgba(0, 0, 0, 0);
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transition: 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.todo__item-selection input[type=checkbox]:checked + label:before {
  background: #00897b;
  -webkit-animation: 0.3s splash ease-in;
          animation: 0.3s splash ease-in;
}

.todo__item-selection input[type=checkbox]:checked + label:after {
  height: 8px;
  border-color: #fff;
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
}

@-webkit-keyframes splash {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(0, 137, 123);
            box-shadow: 0 0 0 0 rgb(0, 137, 123);
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 137, 123, 0.5);
            box-shadow: 0 0 0 10px rgba(0, 137, 123, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 137, 123, 0);
            box-shadow: 0 0 0 20px rgba(0, 137, 123, 0);
  }
}

@keyframes splash {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(0, 137, 123);
            box-shadow: 0 0 0 0 rgb(0, 137, 123);
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 137, 123, 0.5);
            box-shadow: 0 0 0 10px rgba(0, 137, 123, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 137, 123, 0);
            box-shadow: 0 0 0 20px rgba(0, 137, 123, 0);
  }
}
.todo__item-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
  font-size: 14px;
  color: #f2f2f2;
}

.todo__item-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.todo__item-edit {
  width: 25px;
  cursor: pointer;
}

.todo__item-delete {
  width: 23px;
  cursor: pointer;
}

@media only screen and (max-width: 715px) {
  .hero__list {
    padding-top: 260px;
  }
  .hero__item-clear {
    width: 108px;
    padding: 15px;
    position: fixed;
    top: 172px;
    right: 20px;
    z-index: 1;
  }
  .hero__item-clear:active {
    background: transparent;
  }
  .todo__item-btns {
    -webkit-column-gap: 17px;
       -moz-column-gap: 17px;
            column-gap: 17px;
  }
}
.hidden {
  display: none;
}

.show {
  display: inline-block;
}/*# sourceMappingURL=main.css.map */