$main-font: "Inter";
$white: #f2f2f2;
$black: #0d0d0d;
$gray: #808080;
$grey: #191919;
$light-grey: #262626;
$blue: #1e6f9f;
$light-blue: #4ea8de;
$dark-blue: #585abd;
$violet: #8a2be2;
$green: #008000;
$light-green: #2ecc77;
$dark-green: #43845c;
$red: #f00;
