.site-header {
  padding-top: 72px;
  padding-bottom: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: $black;
}
.site-header__logo {
  text-align: center;
}
.site-header__logo a {
  outline: none;
}
.site-header__logo img {
  width: 126px;
  flex-shrink: 0;
}
.site-nav {
  position: fixed;
  top: 172px;
  left: 20px;
  right: 20px;
}
.site-nav__form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 70px;
}
.site-nav__form-select {
  @include text;
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 12px;
  background: $light-grey;
}
.site-nav__form-option {
  background: $black;
}
.site-nav__form-control:nth-child(2) {
  max-width: 700px;
  width: 100%;
}
.site-nav__form-input {
  width: 100%;
  @include text;
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: $light-grey;
  color: $light-gray;
}
.site-nav__form-input::placeholder {
  @include text;
}
.site-nav__form-btn,
.site-nav__form-edit-btn,
.site-nav__form-search-btn {
  @include btn;
  outline: none;
}
.site-nav__form-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../../images/plus-icon.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 8px;
  display: inline-block;
}
.site-nav__form-btn {
  max-width: 120px;
  width: 100%;
}
.site-nav__form-edit-btn {
  max-width: 120px;
  width: 100%;
  background: $dark-green;
  display: none;
}
.site-nav__form-search-btn {
  max-width: 120px;
  width: 100%;
  background: $violet;
  display: none;
}

@media only screen and (max-width: 1075px) {
  .site-nav__form-control:nth-child(2) {
    max-width: 600px;
  }
}
@media only screen and (max-width: 975px) {
  .site-nav__form-control:nth-child(2) {
    max-width: 500px;
  }
}
@media only screen and (max-width: 875px) {
  .site-nav__form-control:nth-child(2) {
    max-width: 400px;
  }
}
@media only screen and (max-width: 775px) {
  .site-nav__form {
    column-gap: 40px;
  }
}
@media only screen and (max-width: 715px) {
  .site-nav__form {
    flex-direction: column;
    row-gap: 30px;
  }
  .site-nav__form-control:nth-child(1) {
    max-width: 100%;
    width: 100%;
  }
  .site-nav__form-select {
    width: 100%;
  }
  .site-nav__form-control:nth-child(2) {
    max-width: 100%;
  }
  .site-nav__form-btn,
  .site-nav__form-edit-btn,
  .site-nav__form-search-btn {
    max-width: 270px;
    width: 100%;
    font-size: 17px;
  }
  .site-nav__form-btn::after {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .site-nav__form-btn,
  .site-nav__form-edit-btn,
  .site-nav__form-search-btn {
    max-width: 200px;
  }
}
@media only screen and (max-width: 340px) {
  .site-nav__form-btn,
  .site-nav__form-edit-btn,
  .site-nav__form-search-btn {
    max-width: 170px;
  }
}
